html {
    scroll-behavior: smooth;
}
.home {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../images/pizza.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: orangered;
    height: 97vh;
    padding-top: 200px;
    padding-left: 400px;
    text-align: center;
}
#logo {
    border-radius: 300px;
    width: 100px;
    height: 100px;
}
h4 {
    color: wheat;
}
.meaty,.fruity,.chicken,.veg {
    width: 200px;
    height: 200px;
    margin: 5px;
}
.meaty {
    background-image: url('../images/meaty.jpg');
    background-size: cover
}
.fruity {
    background-image: url('../images/fruit.jpg');
    background-size: cover
}
.chicken {
    background-image: url('../images/chicken.jpg');
    background-size: cover
}
.veg {
    background-image: url('../images/veg.jpg');
    background-size: cover
}
.text {
    background-color: rgba(247, 248, 249,0.7);
    width: 100%;
    height: 100%;
    margin: auto;
    position:relative;
    margin-top: 20px;
    opacity: 0;
}
.text>p {
   padding-top: 100px;
   padding-left: 60px;
   color: orangered;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
h2 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: orangered;
    text-align: center;
}
.form {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../images/pizzab.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: orangered;
    height: 97vh;
    padding-top: 100px;
    padding-left: 400px;
    text-align: center;
}
button {
  background-color: orangered;
  border: none;
  color: black;
  padding: 15px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
}
[class*="col-"] {
    width: 100%;
  }
  @media only screen and (min-width: 768px) {
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
.summary {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-image: url(../images/pizza.jpg);
    background-size: cover;
    background-attachment: fixed;
    color: orangered;
    height: 97vh;
    padding-top: 200px;
    padding-left: 400px;
    text-align: center;
} 